.sign_in{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
}

.sign_in__forms{
    position: relative;
    align-self: center;
    right: 15px;
}
